[Unit]
Description=ngrok
After=network-online.target
Wants=network-online.target
ConditionFileIsExecutable=/usr/local/bin/ngrok

[Service]
User=pi
Group=pi
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/usr/local/bin/ngrok start --all --config /home/pi/ngrok-notify/ngrok.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=15
EnvironmentFile=-/etc/sysconfig/ngrok
KillMode=process
Type=simple

[Install]
WantedBy=multi-user.target