[Unit]
Description=ngrok_notify
After=ngrok.target

[Service]
ExecStart=/opt/ngrok/ngrok_notify.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Type=simple
EnvironmentFile=/opt/ngrok/env.sh

[Install]
WantedBy=multi-user.target