[Unit]
Description=ngrok-notify
After=ngrok.target

[Service]
User=pi
Group=pi
ExecStart=/usr/bin/python /home/pi/ngrok-notify/ngrok-notify.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Type=simple
EnvironmentFile=/opt/ngrok/env.sh

[Install]
WantedBy=multi-user.target